<div class="card mb-4" (click)="viewDetails()">
  <div class="card-header text-danger" *ngIf="issue.closedOn">
    Closed on: {{ issue.closedOn | date : "short" }} by
    {{ issue.closerUsername }}
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ issue.title }}</h4>
    <div class="d-flex gap-3">
      <p>
        Status:
        <span
          class="badge rounded-pill"
          [ngClass]="setStatusClass(issue.status)"
          >{{ issue.status | titlecase }}</span
        >
      </p>
      <p>
        Priority:
        <span
          class="badge rounded-pill"
          [ngClass]="setPriorityClass(issue.priority)"
          >{{ issue.priority | titlecase }}</span
        >
      </p>
    </div>
    <p class="card-text">{{ issue.description }}</p>
  </div>
  <div class="card-footer">
    <div class="d-flex gap-1 align-items-center justify-content-between">
      <div class="comment-info d-flex gap-1">
        <div>{{ issue.creatorUsername }}</div>
        <div>{{ "&bull;" }}</div>
        <div>{{ issue.createdOn | dateDiff }}</div>
      </div>
      <div
        class="d-flex gap-1"
        *ngIf="issue.status !== 'CLOSED' && isUserIssue()"
      >
        <button class="btn btn-danger btn-sm" (click)="onCloseIssue()">
          Close
        </button>
        <button class="btn btn-danger btn-sm" (click)="onDelete()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
