<ng-template appAnchor></ng-template>
<div class="card mb-4">
  <div class="card-header">
    <div class="d-flex gap-1 align-items-center justify-content-between">
      <div class="comment-info d-flex gap-1">
        <div>
          {{ comment.username }}
        </div>
        <div>{{ "&bull;" }}</div>
        <div>{{ comment.addedOn | dateDiff }}</div>
        <div *ngIf="comment.updatedOn">{{ "&bull;" }}</div>
        <div *ngIf="comment.updatedOn">
          {{ "Edited: " }}{{ comment.updatedOn | dateDiff }}
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{ comment.content }}</p>
  </div>
  <div class="card-footer">
    <div
      class="btn-toolbar d-flex gap-1"
      *ngIf="isUserComment(comment.authorId) || isAdmin()"
    >
      <button class="btn btn-primary btn-sm" (click)="onEdit()">Edit</button>
      <button class="btn btn-danger btn-sm" (click)="onDelete()">Delete</button>
    </div>
  </div>
</div>
