<nav class="navbar navbar-expand-sm navbar-dark fixed-top navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">IssueTracker</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNav"
      [ngClass]="{ show: !isCollapsed }"
    >
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="admin"
            *ngIf="isLoggedIn() && isAdmin()"
            >Admin</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="issues" *ngIf="isLoggedIn()"
            >View Issues</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="newIssue" *ngIf="isLoggedIn()"
            >New Issue</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="profile" *ngIf="isLoggedIn()"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onLogout()" *ngIf="isLoggedIn()"
            >Logout</a
          >
          <a class="nav-link" routerLink="login" *ngIf="!isLoggedIn()">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
