<ng-template appAnchor></ng-template>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
        <div class="d-flex align-items-center justify-content-center gap-2">
          <select
            class="w-25 form-control form-select"
            aria-label="select status"
            id="accountStatus"
            name="accountStatus"
            formControlName="accountStatus"
          >
            <option value="">Status</option>
            <option value="banned">Banned</option>
            <option value="enabled">Enabled</option>
          </select>
          <div class="d-flex flex-row">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="myIssues"
                formControlName="myIssues"
              />
            </div>
            <label class="form-check-label" for="flexCheckDefault">
              Show my Issues
            </label>
          </div>
          <button type="submit" class="btn btn-primary btn-md">Filter</button>
        </div>
      </form>

      <ul class="list-group">
        <li
          class="list-group-item list-item d-flex flex-column"
          *ngFor="
            let user of userData.users
              | paginate
                : {
                    itemsPerPage: userData.size,
                    currentPage: userData.number + 1,
                    totalItems: userData.totalElements
                  }
          "
        >
          <app-user-details [user]="user"></app-user-details>
          <button
            class="btn btn-danger flex-shrink-0 align-self-end"
            (click)="onBan(user)"
            *ngIf="user.userRole !== 'ADMIN' && user.enabled"
          >
            Ban
          </button>
        </li>
      </ul>
      <div class="pagination">
        <pagination-controls
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
