<ng-template appAnchor></ng-template>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li
          class="list-group-item list-item d-flex flex-column"
          *ngFor="
            let user of userData.users
              | paginate
                : {
                    itemsPerPage: userData.size,
                    currentPage: userData.number + 1,
                    totalItems: userData.totalElements
                  }
          "
        >
          <app-user-details [user]="user"></app-user-details>
          <button
            class="btn btn-danger flex-shrink-0 align-self-end"
            (click)="onBan(user)"
            *ngIf="user.userRole !== 'ADMIN' && user.enabled"
          >
            Ban
          </button>
        </li>
      </ul>
      <div class="pagination">
        <pagination-controls
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
